/* ===========================
        Google Font
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
}

/* ===========================
        Colors
=========================== */

:root{

    --primary:#F58220;

    --dark:#1f1f1f;

    --white:#ffffff;

    --text:#dddddd;

}

/* ===========================
        Navbar
=========================== */

.navbar{

    position:fixed;

    width:100%;

    top:0;

    left:0;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:25px 8%;

    z-index:1000;

}

.logo h2{

    color:white;

    font-size:30px;

}

.logo span{

    color:var(--primary);

}

.nav-links{

    display:flex;

    list-style:none;

    gap:35px;

}

.nav-links a{

    color:white;

    text-decoration:none;

    font-weight:500;

    transition:.3s;

}

.nav-links a:hover{

    color:var(--primary);

}

.whatsapp-btn{

    background:var(--primary);

    color:white;

    padding:14px 28px;

    border-radius:50px;

    text-decoration:none;

    font-weight:600;

}



/* ===========================
        HERO
=========================== */

.hero{

    position:relative;

    height:100vh;

    background:url(hero1.jpg);

    display:flex;

    align-items:flex-start;

    justify-content:flex-start;

    padding:170px 8% 0;

    overflow:hidden;

}

/* ===========================
      HERO SLIDER
=========================== */

.hero-slider{

    position:absolute;

    inset:0;

}

.slide{

    position:absolute;

    width:100%;

    height:100%;

    object-fit:cover;

    opacity:0;

    transition:opacity 2s ease-in-out;

}

.slide.active{

    opacity:1;

}

.progress-bar{

    position:absolute;

    bottom:0;

    left:0;

    width:100%;

    height:4px;

    background:rgba(255,255,255,.15);

    z-index:20;

}

.progress-bar span{

    display:block;

    width:0;

    height:100%;

    background:#F58220;

    animation:progress 6s linear infinite;

}

@keyframes progress{

    from{

        width:0;

    }

    to{

        width:100%;

    }

}

.overlay{

    position:absolute;

    inset:0;

    background:linear-gradient(

        to right,

        rgba(0,0,0,.80),

        rgba(0,0,0,.45),

        rgba(0,0,0,.25)

    );

}


/* ===========================
        Glass Panel
=========================== */
.glass-panel{
    position: relative;

    z-index: 2;

    max-width:450px;

    width: 100%;

    padding: 25px;

    background: rgba(255,255,255,.08);

    backdrop-filter:blur(14px);

    -webkit-backdrop-filter:blur(14px);

    border: 1px solid rgba(255,255,255,15);

    border-radius: 25px;

    box-shadow:0 20px 60px rgba(0,0,0,.30);
}



/* Orange Glow */

.glass-panel::before{

    content:"";

    position:absolute;

    width:220px;

    height:220px;

    background:rgba(245,130,32,.18);

    border-radius:50%;

    top:-80px;

    right:-70px;

    filter:blur(50px);

    z-index:-1;

}


.small-heading{
    display: block;

    color:var(--primary);

    letter-spacing:4px;

    font-size:14px;

    margin-bottom:20px;

    margin-top:15px;

}

.glass-panel h1{

    color:white;

    font-size:28px;

    line-height:1.15;

    margin-bottom:20px;

    font-weight:600;

}

.hero-text{

    color:#ececec;

    line-height:1.7;

    font-size:17px;

    margin-bottom:25px;

    max-width:430px;

}

.hero-btn{

    display:inline-flex;

    align-items:center;

    gap:12px;

    background:var(--primary);

    color:white;

    text-decoration:none;

    padding:18px 38px;

    border-radius:50px;

    font-weight:600;

    font-size:16px;

    transition:all .4s ease;

}

.hero-btn:hover{

    background:#ff8c1a;

    transform:translateY(-5px);

    box-shadow:0 15px 35px rgba(245,130,32,.45);

}

/* ===========================
        Hero Features
=========================== */

.hero-features{

    margin-top:25px;

    display:flex;

    flex-direction:row;

    gap:10px;

}

.feature{

    background:rgba(255,255,255,.08);

    padding: 5px 5px;

    border-radius:30px;

}

.feature i{

    color:var(--primary);

    font-size:22px;

}


.scroll-down{

    position:absolute;

    left:50%;

    bottom:35px;

    transform:translateX(-50%);

    color:white;

    font-size:32px;

    animation:bounce 2s infinite;

}

@keyframes bounce{

    0%,100%{

        transform:translate(-50%,0);

    }

    50%{

        transform:translate(-50%,15px);

    }

}
/* ===========================
      COMPANY HIGHLIGHTS
=========================== */



.highlights{

    padding:110px 8%;
    background:#f8f9fb;
    overflow:hidden;

}

.section-title{

    text-align:center;
    margin-bottom:70px;

}

.section-title p{

    color:var(--primary);
    font-size:14px;
    letter-spacing:3px;
    font-weight:600;
    margin-bottom:12px;

}

.section-title h2{

    font-size:42px;
    color:#222;
    font-weight:700;

}

/* ---------------------- */

.carousel{

    position:relative;

    width:100%;

    height:420px;

}

/* ---------------------- */

.highlight-card{

    position:absolute;

    top:0;

    left:50%;

    width:360px;

    padding:45px;

    border-radius:25px;

    background:white;

    box-shadow:0 20px 50px rgba(0,0,0,.12);

    text-align:center;

    transition:all .8s ease;

}

/* ---------------------- */
/* CENTER CARD */
/* ---------------------- */

.highlight-card.active{

    transform:translateX(-50%) scale(1);

    opacity:1;

    z-index:3;

}

/* ---------------------- */
/* LEFT CARD */
/* ---------------------- */

.highlight-card.prev{

    transform:translateX(-155%) scale(.82);

    opacity:.35;

    z-index:2;

}

/* ---------------------- */
/* RIGHT CARD */
/* ---------------------- */

.highlight-card.next{

    transform:translateX(55%) scale(.82);

    opacity:.35;

    z-index:2;

}

/* ---------------------- */

.highlight-card i{

    font-size:60px;

    color:var(--primary);

    margin-bottom:25px;

}

.highlight-card h3{

    font-size:28px;

    margin-bottom:18px;

    color:#222;

}

.highlight-card p{

    color:#666;

    line-height:1.8;

    font-size:16px;

}

/* ---------------------- */

.carousel-dots{

    display:flex;

    justify-content:center;

    gap:12px;

    margin-top:25px;

}

.dot{

    width:12px;

    height:12px;

    border-radius:50%;

    background:#cfcfcf;

    transition:.4s;

}

.dot.active{

    width:35px;

    border-radius:20px;

    background:var(--primary);

}
/* ===========================
        ABOUT US
=========================== */

.about{

    padding:120px 8%;

    background:#f4f4f4;

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:90px;

    align-items:center;

}

/* LEFT SIDE */

.about-images{

    position:relative;

    min-height:650px;

}

.about-main{

    width:100%;

    height:650px;

    object-fit:cover;

    border-radius:25px;

    box-shadow:0 30px 70px rgba(0,0,0,.20);

}

.about-small{

    position:absolute;

    width:220px;

    height:220px;

    object-fit:cover;

    border-radius:20px;

    border:8px solid white;

    box-shadow:0 15px 40px rgba(0,0,0,.20);

}

.top{

    top:-40px;

    right:-40px;

}

.bottom{

    bottom:-40px;

    left:-40px;

}

/* RIGHT SIDE */

.about-subtitle{

    color:var(--primary);

    letter-spacing:3px;

    font-size:14px;

    font-weight:600;

    margin-bottom:18px;

}

.about-content h2{

    font-size:48px;

    color:#222;

    line-height:1.2;

    margin-bottom:25px;

}

.about-text{

    color:#666;

    line-height:1.9;

    font-size:17px;

    margin-bottom:40px;

}

.about-list{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:18px;

    margin-bottom:45px;

}

.about-item{

    display:flex;

    align-items:center;

    gap:12px;

    font-weight:500;

    color:#333;

}

.about-item i{

    color:var(--primary);

    font-size:18px;

}

.about-btn{

    display:inline-block;

    padding:18px 40px;

    background:var(--primary);

    color:white;

    border-radius:50px;

    text-decoration:none;

    font-weight:600;

    transition:.4s;

}

.about-btn:hover{

    transform:translateY(-5px);

    box-shadow:0 15px 35px rgba(245,130,32,.35);

}
/* ===========================
      SCROLL ANIMATIONS
=========================== */

.about-images,
.about-content{

    opacity:0;

    transition:1.2s ease;

}

.about-images{

    transform:translateX(-80px);

}

.about-content{

    transform:translateX(80px);

}

.about-images.show,
.about-content.show{

    opacity:1;

    transform:translateX(0);

}
/* Floating Images */

.about-small{

    animation:floatImage 5s ease-in-out infinite;

}

.bottom{

    animation-delay:2.5s;

}

@keyframes floatImage{

    0%{

        transform:translateY(0);

    }

    50%{

        transform:translateY(-12px);

    }

    100%{

        transform:translateY(0);

    }

}